.logotext {
  font-size: 2em;
  font-family: Helvetica;
  color: white;
}
.subheading {
  font-size: 1.5em;
  color: white;
  padding-left: 2em;
}
.navbar {
  display: flex;
  background-color: #1b361d;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 15vh;
}
.image {
  height: 10em;
  width: 10em;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.options {
  padding-right: 3em;
  display: flex;
  justify-content: space-around;
}
